In [209]:
# Setting environment 
import pandas as pd
import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt
# %matplotlib inline
# import math
import datetime as dt

In [210]:
# Hide warning messages in notebook
import warnings 
warnings.filterwarnings('ignore')

# Loading csv datafile
citi_bike_df1 = pd.read_csv("data/JC-201801-citibike-tripdata.csv")
citi_bike_df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [211]:
citi_bike_df2 = pd.read_csv("data/JC-201802-citibike-tripdata.csv")
citi_bike_df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,134,2018-02-01 07:38:15.8650,2018-02-01 07:40:30.5820,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29615,Subscriber,1966,1
1,413,2018-02-01 08:19:35.8160,2018-02-01 08:26:29.6490,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29641,Subscriber,1986,2
2,77,2018-02-01 08:31:03.0860,2018-02-01 08:32:20.3510,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29621,Subscriber,1975,1
3,404,2018-02-01 15:23:15.0850,2018-02-01 15:29:59.9300,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31934,Subscriber,1980,1
4,230,2018-02-01 15:26:01.8240,2018-02-01 15:29:52.5440,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,29642,Subscriber,1986,1

In [212]:
citi_bike_df3 = pd.read_csv("data/JC-201803-citibike-tripdata.csv")
citi_bike_df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,329,2018-03-01 06:37:37.0380,2018-03-01 06:43:06.5520,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29284,Subscriber,1981,1
1,118,2018-03-01 07:37:30.1210,2018-03-01 07:39:28.3910,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29465,Subscriber,1966,1
2,76,2018-03-01 08:26:17.9390,2018-03-01 08:27:34.6770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29681,Subscriber,1975,1
3,578,2018-03-01 12:10:36.2160,2018-03-01 12:20:14.8690,3183,Exchange Place,40.716247,-74.033459,3185,City Hall,40.717733,-74.043845,31695,Subscriber,1970,1
4,485,2018-03-01 12:21:47.8800,2018-03-01 12:29:53.2990,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,31802,Subscriber,1979,1

In [213]:
citi_bike_df4 = pd.read_csv("data/JC-201804-citibike-tripdata.csv")
citi_bike_df4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1814,2018-04-01 09:43:51.1590,2018-04-01 10:14:06.1300,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,26175,Subscriber,1978,1
1,298,2018-04-01 11:42:53.7090,2018-04-01 11:47:51.8770,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,31847,Subscriber,1979,1
2,1060,2018-04-01 12:43:11.9640,2018-04-01 13:00:52.8700,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,33463,Subscriber,1972,1
3,1035,2018-04-01 12:43:40.5890,2018-04-01 13:00:55.6620,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,31738,Subscriber,1983,1
4,559,2018-04-01 12:56:47.4600,2018-04-01 13:06:06.7710,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31925,Subscriber,1989,1

In [214]:
citi_bike_df5 = pd.read_csv("data/JC-201805-citibike-tripdata.csv")
citi_bike_df5.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,131,2018-05-01 07:29:57.5490,2018-05-01 07:32:08.6160,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29617,Subscriber,1966,1
1,73,2018-05-01 08:13:58.2560,2018-05-01 08:15:11.9230,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29288,Subscriber,1975,1
2,4929,2018-05-01 08:17:21.3110,2018-05-01 09:39:31.0770,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29520,Customer,1969,0
3,432,2018-05-01 08:25:58.7150,2018-05-01 08:33:10.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29595,Subscriber,1973,1
4,432,2018-05-01 08:28:09.9160,2018-05-01 08:35:22.1440,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,33623,Subscriber,1959,1

In [215]:
citi_bike_df6 = pd.read_csv("data/JC-201806-citibike-tripdata.csv")
citi_bike_df6.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,329,2018-06-01 07:07:00.2990,2018-06-01 07:12:30.2220,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29513,Subscriber,1991,1
1,259,2018-06-01 08:24:43.8490,2018-06-01 08:29:03.8450,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26221,Subscriber,1989,2
2,686,2018-06-01 09:17:49.5730,2018-06-01 09:29:16.1770,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29266,Subscriber,1990,1
3,164,2018-06-01 09:44:00.4020,2018-06-01 09:46:44.6830,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29472,Subscriber,1993,1
4,769,2018-06-01 09:59:28.7800,2018-06-01 10:12:18.6660,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,33679,Subscriber,1977,1

In [216]:
citi_bike_df7 = pd.read_csv("data/JC-201807-citibike-tripdata.csv")
citi_bike_df7.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1234,2018-07-01 02:08:39.8920,2018-07-01 02:29:14.4890,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26306,Customer,1969,0
1,1041,2018-07-01 02:09:07.5180,2018-07-01 02:26:28.8720,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29204,Customer,1969,0
2,2308,2018-07-01 02:14:45.7400,2018-07-01 02:53:14.5970,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26234,Customer,1969,0
3,767,2018-07-01 02:25:12.4020,2018-07-01 02:38:00.0510,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26238,Subscriber,1992,1
4,151,2018-07-01 04:07:44.0520,2018-07-01 04:10:15.8010,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29204,Subscriber,1972,1

In [217]:
citi_bike_df8 = pd.read_csv("data/JC-201808-citibike-tripdata.csv")
citi_bike_df8.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,903,2018-08-01 06:40:33.3610,2018-08-01 06:55:37.1060,3183,Exchange Place,40.716247,-74.033459,3270,Jersey & 6th St,40.725289,-74.045572,29612,Subscriber,1977,1
1,78,2018-08-01 08:21:00.1450,2018-08-01 08:22:18.6310,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29791,Subscriber,1975,1
2,405,2018-08-01 08:43:52.5150,2018-08-01 08:50:37.6140,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29571,Subscriber,1973,1
3,155,2018-08-01 09:48:24.9450,2018-08-01 09:51:00.9360,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29504,Subscriber,1971,1
4,453,2018-08-01 12:15:35.1230,2018-08-01 12:23:08.8880,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,33669,Subscriber,1993,1

In [218]:
citi_bike_df9 = pd.read_csv("data/JC-201809-citibike-tripdata.csv")
citi_bike_df9.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,284,2018-09-01 01:48:22.0320,2018-09-01 01:53:06.9130,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26303,Subscriber,1984,1
1,370,2018-09-01 01:48:22.5010,2018-09-01 01:54:32.9270,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29667,Subscriber,1984,1
2,1181,2018-09-01 09:37:04.3070,2018-09-01 09:56:45.3280,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26307,Customer,1994,1
3,383,2018-09-01 09:44:46.0030,2018-09-01 09:51:09.9230,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,29261,Subscriber,1987,1
4,377,2018-09-01 09:44:46.1850,2018-09-01 09:51:03.6330,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,33665,Subscriber,1985,1

In [219]:
citi_bike_df10 = pd.read_csv("data/JC-201810-citibike-tripdata.csv")
citi_bike_df10.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,152,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,15302,Subscriber,1971,2
1,122,2018-10-01 08:50:05.4340,2018-10-01 08:52:08.2250,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29654,Subscriber,1973,1
2,211,2018-10-01 09:03:17.0640,2018-10-01 09:06:48.0940,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,33621,Subscriber,1958,1
3,342,2018-10-01 10:13:07.0090,2018-10-01 10:18:49.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,26266,Subscriber,1982,1
4,2976,2018-10-01 10:45:14.2800,2018-10-01 11:34:51.2610,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,27083,Customer,1969,0

In [220]:
citi_bike_df11 = pd.read_csv("data/JC-201811-citibike-tripdata.csv")
citi_bike_df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1188,2018-11-01 06:32:27.5190,2018-11-01 06:52:15.9140,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33662,Customer,1969,0
1,278,2018-11-01 07:14:31.8680,2018-11-01 07:19:10.2610,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29254,Subscriber,1963,1
2,115,2018-11-01 07:33:17.1920,2018-11-01 07:35:12.2830,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,33607,Subscriber,1966,1
3,155,2018-11-01 08:20:10.9320,2018-11-01 08:22:46.7050,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,29222,Subscriber,1975,2
4,82,2018-11-01 08:35:02.7850,2018-11-01 08:36:25.1840,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29678,Subscriber,1975,1

In [221]:
citi_bike_df12 = pd.read_csv("data/JC-201812-citibike-tripdata.csv")
citi_bike_df12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,170,2018-12-01 00:03:53.3860,2018-12-01 00:06:43.7160,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1
1,172,2018-12-01 00:47:13.7340,2018-12-01 00:50:05.8160,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,26175,Subscriber,1988,1
2,247,2018-12-01 00:48:57.6960,2018-12-01 00:53:05.6780,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29255,Subscriber,1990,1
3,406,2018-12-01 01:33:53.6630,2018-12-01 01:40:39.7480,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29275,Subscriber,1995,1
4,354,2018-12-01 06:26:52.5120,2018-12-01 06:32:46.5170,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29658,Subscriber,1976,1

In [222]:
citi_bike_df = pd.concat([citi_bike_df1, citi_bike_df2, citi_bike_df3, citi_bike_df4, citi_bike_df5, citi_bike_df6, citi_bike_df7, citi_bike_df8, citi_bike_df9, citi_bike_df10, citi_bike_df11, citi_bike_df12])
citi_bike_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
5,613,2018-01-01 22:05:05.8740,2018-01-01 22:15:19.4190,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,31859,Subscriber,1982,1
6,290,2018-01-02 12:13:51.7940,2018-01-02 12:18:42.1070,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31694,Subscriber,1958,1
7,381,2018-01-02 12:50:03.3430,2018-01-02 12:56:24.6440,3183,Exchange Place,40.716247,-74.033459,3205,JC Medical Center,40.716540,-74.049638,31754,Subscriber,1989,2
8,318,2018-01-02 13:55:58.2430,2018-01-02 14:01:16.8810,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,31816,Subscriber,1960,1
9,1852,2018-01-02 16:55:29.6390,2018-01-02 17:26:22.3050,3183,Exchange Place,40.716247,-74.033459,3281,Leonard Gordon Park,40.745910,-74.057271,31754,Subscriber,1976,1
10,460,2018-01-02 17:01:50.5860,2018-01-02 17:09:31.4340,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33463,Subscriber,1989,2
11,403,2018-01-02 17:05:12.2360,2018-01-02 17:11:55.2630,3183,Exchange Place,40.716247,-74.033459,3205,JC Medical Center,40.716540,-74.049638,26256,Subscriber,1985,1
12,264,2018-01-02 17:05:12.6730,2018-01-02 17:09:37.4020,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29616,Subscriber,1974,1
13,282,2018-01-02 17:19:56.6090,2018-01-02 17:24:39.5340,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29681,Subscriber,1976,1
14,308,2018-01-02 17:31:45.9880,2018-01-02 17:36:54.3590,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31949,Subscriber,1968,1
15,561,2018-01-02 17:32:54.8400,2018-01-02 17:42:16.3140,3183,Exchange Place,40.716247,-74.033459,3269,Brunswick & 6th,40.726012,-74.050389,29591,Subscriber,1976,1
16,114,2018-01-02 17:37:44.3450,2018-01-02 17:39:38.8760,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31925,Subscriber,1988,1
17,302,2018-01-02 17:54:04.8770,2018-01-02 17:59:06.9730,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,31777,Subscriber,1990,1
18,230,2018-01-02 17:58:24.6360,2018-01-02 18:02:15.6320,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31763,Subscriber,1992,1
19,596,2018-01-02 18:05:59.6240,2018-01-02 18:15:55.8590,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29662,Subscriber,1992,1
20,826,2018-01-02 18:10:58.8600,2018-01-02 18:24:45.1600,3183,Exchange Place,40.716247,-74.033459,3194,McGinley Square,40.725340,-74.067622,31765,Subscriber,1989,1
21,368,2018-01-02 18:13:41.8510,2018-01-02 18:19:49.9780,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31695,Subscriber,1985,1
22,291,2018-01-02 18:18:41.6860,2018-01-02 18:23:33.0620,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,31934,Subscriber,1980,1
23,250,2018-01-02 18:20:06.1050,2018-01-02 18:24:16.1640,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31880,Subscriber,1995,1
24,199,2018-01-02 18:31:11.9870,2018-01-02 18:34:31.1880,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29623,Subscriber,1980,1
25,225,2018-01-02 18:38:50.5100,2018-01-02 18:42:36.2120,3183,Exchange Place,40.716247,-74.033459,3185,City Hall,40.717733,-74.043845,31691,Subscriber,1992,1
26,242,2018-01-02 18:41:29.5240,2018-01-02 18:45:32.3240,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26314,Subscriber,1981,0
27,214,2018-01-02 18:42:30.3030,2018-01-02 18:46:04.4630,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29581,Subscriber,1991,1
28,218,2018-01-02 19:29:20.7870,2018-01-02 19:32:59.1490,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31954,Subscriber,1991,1
29,318,2018-01-02 19:30:19.4880,2018-01-02 19:35:37.5450,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29615,Subscriber,1978,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20175,747,2018-12-10 20:33:10.0440,2018-12-10 20:45:37.2790,3694,Jackson Square,40.711130,-74.078900,3194,McGinley Square,40.725340,-74.067622,29519,Subscriber,1958,1
20176,1124,2018-12-11 06:19:14.0610,2018-12-11 06:37:58.7960,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29657,Subscriber,1977,1
20177,648,2018-12-11 12:01:04.1040,2018-12-11 12:11:52.9080,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26287,Subscriber,1994,1
20178,575,2018-12-11 17:46:56.6360,2018-12-11 17:56:31.6520,3694,Jackson Square,40.711130,-74.078900,3191,Union St,40.718211,-74.083639,29239,Subscriber,1958,1
20179,961,2018-12-12 06:19:04.3900,2018-12-12 06:35:05.8390,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26247,Subscriber,1977,1
20180,2058,2018-12-12 09:09:44.0380,2018-12-12 09:44:02.7900,3694,Jackson Square,40.711130,-74.078900,3694,Jackson Square,40.711130,-74.078900,29641,Subscriber,1957,1
20181,640,2018-12-12 11:54:45.5290,2018-12-12 12:05:25.7630,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29641,Subscriber,1994,1
20182,934,2018-12-13 06:16:06.7510,2018-12-13 06:31:41.2170,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29681,Subscriber,1977,1
20183,703,2018-12-13 12:17:13.6280,2018-12-13 12:28:57.2350,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26190,Subscriber,1994,1
20184,936,2018-12-14 06:10:18.5060,2018-12-14 06:25:54.6120,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26155,Subscriber,1977,1
20185,668,2018-12-14 12:34:01.0310,2018-12-14 12:45:09.6550,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26312,Subscriber,1994,1
20186,645,2018-12-15 13:31:59.3590,2018-12-15 13:42:45.2030,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29224,Subscriber,1994,1
20187,1396,2018-12-15 16:28:38.1250,2018-12-15 16:51:54.9460,3694,Jackson Square,40.711130,-74.078900,3279,Dixon Mills,40.721630,-74.049968,29126,Subscriber,1988,2
20188,649,2018-12-16 11:55:07.8820,2018-12-16 12:05:57.4260,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29658,Subscriber,1994,1
20189,984,2018-12-17 06:26:18.2690,2018-12-17 06:42:42.9330,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26251,Subscriber,1977,1
20190,687,2018-12-17 12:18:47.1320,2018-12-17 12:30:14.5090,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29535,Subscriber,1994,1
20191,726,2018-12-17 17:38:45.4430,2018-12-17 17:50:52.4320,3694,Jackson Square,40.711130,-74.078900,3194,McGinley Square,40.725340,-74.067622,29276,Subscriber,1973,2
20192,1041,2018-12-18 06:21:57.7450,2018-12-18 06:39:19.7440,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29221,Subscriber,1977,1
20193,654,2018-12-18 12:12:40.2980,2018-12-18 12:23:34.4020,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29300,Subscriber,1994,1
20194,1015,2018-12-19 06:15:11.2330,2018-12-19 06:32:06.2450,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26220,Subscriber,1977,1
20195,667,2018-12-19 11:39:50.4270,2018-12-19 11:50:58.2750,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29299,Subscriber,1994,1
20196,687,2018-12-20 13:28:39.0590,2018-12-20 13:40:06.6410,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29258,Subscriber,1994,1
20197,625,2018-12-21 12:05:04.3890,2018-12-21 12:15:29.5930,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29664,Subscriber,1994,1
20198,826,2018-12-21 16:34:37.2330,2018-12-21 16:48:24.0150,3694,Jackson Square,40.711130,-74.078900,3186,Grove St PATH,40.719586,-74.043117,26306,Subscriber,1991,1
20199,640,2018-12-22 10:27:40.6590,2018-12-22 10:38:21.4170,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,26298,Subscriber,1994,1
20200,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.711130,-74.078900,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
20201,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
20202,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.711130,-74.078900,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
20203,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.711130,-74.078900,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
20204,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.711130,-74.078900,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

In [223]:
citi_bike_df=citi_bike_df.rename(index=str, \
    columns={"start station id": "start_station_id", "start station name": "start_station_name", \
             "start station longitude": "start_station_longitude",\
             "start station latitude": "start_station_latitude", "end station id": "end_station_id", \
             "end station name": "end_station_name", "end station latitude":"end_station_latitude", \
             "end station longitude": "end_station_longitude", "birth year": "birth_year"})
citi_bike_df.head()

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [307]:
citi_bike_df.count()

tripduration               353892
starttime                  353892
stoptime                   353892
start_station_id           353892
start_station_name         353892
start_station_latitude     353892
start_station_longitude    353892
end_station_id             353892
end_station_name           353892
end_station_latitude       353892
end_station_longitude      353892
bikeid                     353892
usertype                   353892
birth_year                 353892
gender                     353892
Month_starttime            353892
dtype: int64

In [308]:
citi_bike_df.to_csv('data/citi_bike_2018.csv')
print("All monthly data files merged into one 2018 csv file...")

All monthly data files merged into one 2018 csv file...

In [309]:
citi_bike_df.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                           object
start_station_id                    int64
start_station_name                 object
start_station_latitude            float64
start_station_longitude           float64
end_station_id                      int64
end_station_name                   object
end_station_latitude              float64
end_station_longitude             float64
bikeid                              int64
usertype                           object
birth_year                          int64
gender                              int64
Month_starttime                     int64
dtype: object

In [310]:
# Questions:
citi_bike_df.head()

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender,Month_starttime
0,932,2018-01-01 02:06:17.541,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,1
1,550,2018-01-01 12:06:18.039,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,1
2,510,2018-01-01 12:06:56.978,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,1
3,354,2018-01-01 14:53:10.186,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,1
4,250,2018-01-01 17:34:30.192,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,1

In [311]:
# How many trips have been recorded total during the chosen period?
print("Number of Trips in 2018 = ", citi_bike_df.bikeid.count())  

# 353892

Number of Trips in 2018 =  353892

In [312]:
print("Number of Trips Less Than 60 Secs in 2018 : ",[citi_bike_df[citi_bike_df.tripduration < 60]] )  

# None of trip in 2018 is less than 60 Secs

Number of Trips Less Than 60 Secs in 2018 :  [Empty DataFrame
Columns: [tripduration, starttime, stoptime, start_station_id, start_station_name, start_station_latitude, start_station_longitude, end_station_id, end_station_name, end_station_latitude, end_station_longitude, bikeid, usertype, birth_year, gender, Month_starttime]
Index: []]

In [313]:
print("\nGender Value Counts: ", citi_bike_df.gender.value_counts())

Gender Value Counts:  1    257131
2     75345
0     21416
Name: gender, dtype: int64

In [314]:
print("\nUser Types :", citi_bike_df.usertype.value_counts())

User Types : Subscriber    331725
Customer       22167
Name: usertype, dtype: int64

In [315]:
print("\nStart Station Name :", citi_bike_df.usertype.value_counts())

Start Station Name : Subscriber    331725
Customer       22167
Name: usertype, dtype: int64

In [317]:
# How has the proportion of short-term customers and annual subscribers changed?
df_customers = citi_bike_df.groupby('usertype')['usertype'].count().sort_values(ascending=False).reset_index(name='count')
print(df_customers.head())
x= np.array(df_customers[["count"]].values)
print("x=",x)
print("\nThe proportion of Annual Subscribers vs. short-term customers: \n", x*100.0/sum(x))

     usertype   count
0  Subscriber  331725
1    Customer   22167
x= [[331725]
 [ 22167]]

The proportion of Annual Subscribers vs. short-term customers:
 [[93.73622461]
 [ 6.26377539]]

In [199]:
citi_bike_df = citi_bike_df.dropna(how="any")
citi_bike_df.count()

tripduration               353892
starttime                  353892
stoptime                   353892
start_station_id           353892
start_station_name         353892
start_station_latitude     353892
start_station_longitude    353892
end_station_id             353892
end_station_name           353892
end_station_latitude       353892
end_station_longitude      353892
bikeid                     353892
usertype                   353892
birth_year                 353892
gender                     353892
time                       353892
dtype: int64

In [318]:
# By what percentage has total ridership grown?   (doing it month on month)

print("Min starttime:",min(citi_bike_df["starttime"]))
print("Max starttime:",max(citi_bike_df["starttime"])) 

citi_bike_df["starttime"] = pd.to_datetime(citi_bike_df["starttime"])
citi_bike_df["Month_starttime"] = citi_bike_df["starttime"].map((lambda x: x.month))

citi_bike_df.Month_starttime.unique()

citi_bike_df.head()

Min starttime: 2018-01-01 00:01:45.814000
Max starttime: 2018-12-31 23:25:49.609000

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender,Month_starttime
0,932,2018-01-01 02:06:17.541,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,1
1,550,2018-01-01 12:06:18.039,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,1
2,510,2018-01-01 12:06:56.978,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,1
3,354,2018-01-01 14:53:10.186,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,1
4,250,2018-01-01 17:34:30.192,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,1

In [335]:
# By what percentage has total ridership grown?   (doing it month on month)
print (citi_bike_df.groupby(["usertype","Month_starttime"])["tripduration"].count())

usertype    Month_starttime
Customer    1                    185
            2                    189
            3                    436
            4                   1743
            5                   2458
            6                   3187
            7                   3794
            8                   3158
            9                   3524
            10                  2004
            11                   898
            12                   591
Subscriber  1                  12492
            2                  14915
            3                  16673
            4                  21891
            5                  31998
            6                  37750
            7                  38474
            8                  41274
            9                  35498
            10                 37134
            11                 24012
            12                 19614
Name: tripduration, dtype: int64

In [301]:
df_per = citi_bike_df.groupby('Month_starttime')['Month_starttime'].count().reset_index(name='count')
df_per.sort_values(by='Month_starttime', ascending=False)

prev = df_per['count'][0]
for x in df_per['count'].tolist():
    print("prev=",prev)
    print("x = ",x)
    perc = (100/prev*x )-100
    print("percentage =", perc)
    prev = x
    y = y + 1
                
df_per

prev= 12677
x =  12677
percentage = 0.0
prev= 12677
x =  15104
percentage = 19.144908101285793
prev= 15104
x =  17109
percentage = 13.274629237288124
prev= 17109
x =  23634
percentage = 38.13782219884271
prev= 23634
x =  34456
percentage = 45.789963611745804
prev= 34456
x =  40937
percentage = 18.809496169027156
prev= 40937
x =  42268
percentage = 3.25133742091505
prev= 42268
x =  44432
percentage = 5.119712311914455
prev= 44432
x =  39022
percentage = -12.17590925459129
prev= 39022
x =  39138
percentage = 0.29726820767773177
prev= 39138
x =  24910
percentage = -36.35341611732843
prev= 24910
x =  20205
percentage = -18.88799678843837

    Month_starttime  count
0                 1  12677
1                 2  15104
2                 3  17109
3                 4  23634
4                 5  34456
5                 6  40937
6                 7  42268
7                 8  44432
8                 9  39022
9                10  39138
10               11  24910
11               12  20205